@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");


*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-family: "Noto Sans", sans-serif;
  background-color: #f3f5f7;
}

.wrapper{
  margin: 2rem;
  display: grid;
  gap:1rem;
  grid-template-columns:1fr;
  justify-content: center;
}

.prodcard{
  box-shadow: 0 0 10px 5px #e1e5ee;
  border-radius: 0.2rem;
  min-width: 28rem;
  display: flex;
  /* //height: calc(100vh/1.5); */
}

.card__img{
  width:14rem;
  height:11rem;
  object-fit: contain;
  margin-top: 2rem;
}

.card__body{
  margin:1rem;
  flex-grow:1;
  float: right;
}
.card__title{
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
  display: block;
}

.card__price{
  /* font-size: 1.4rem; */
  /* margin-top: 0.6rem; */
  text-align: center;
}
.card__btn{
  border:none;
  border-top: 1px, solid #e1e5ee;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100%;
  padding-top:1rem;
  margin-top:1rem;
  cursor: pointer;

 
}
.card__btn:hover{
  color:#0e48fe;
}

.titleDiv{
  height: 6rem;
} 

