
.carousel__container{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    height: 85%;
    background: white;
  }
  .carousel__img{
    object-fit: contain;
    max-height: 583px;
  }
  
  .carousel__div{
    background: white;
  }
  